#root {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
}

#closeButton {
    -fx-font-size: 18px;
    -fx-text-fill: #000;
    -fx-background-radius: 0 15 0 5;
    -fx-background-color: transparent;
}

#closeButton:hover {
    -fx-background-color: #ff0000;
}

